/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --background-text-color : #FF8DCB;
  --color-subject-text: #353430;
  --color-title-text: #353430;
  --focus-color: #FFC2E6;
  --focus-shadow-color: #FF0070;
  --shadow-color: #F1B2CE;
  --border-color: #353430;
  --color-rec: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  .page.theme_light {
    --background-color: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --background-text-color : #FF8DCB;
    --color-subject-text: #353430;
    --color-title-text: #353430;
    --focus-color: #FFC2E6;
    --focus-shadow-color: #FF0070;
    --shadow-color: #F1B2CE;
    --border-color: #353430;
    --color-rec: #FFF1F7;
  }
}
